* {
  box-sizing: border-box;
  margin: 0;
  /* outline: 1px solid red; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(214, 212, 212) !important;
}
.cocktailsTitre {
  display: flex;
  justify-content: center;
  margin-block: 20px;
}

section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dark {
  color: white;
  background-color: rgb(34, 34, 34);
    .search, .card {
      background-color: rgb(30, 30, 30);
      color: white;
      box-shadow: 0 0 7px 1px rgb(255, 255, 255);
    }
    .logo {
      color: black;
    }
}